.catalog{

  &-sectionsContainer{
    position: fixed;
    right: 0;
    left: 0;
    top: var(--header-height);
    z-index: 2;
    background-color: var(--tg-theme-header-bg-color);
  }

  &-sections{
    height: var(--header-height);
    display: flex;
    align-items: center;
    gap: 8px;
    overflow-x: scroll;
  }

  &-section-item{
    flex: none;
    white-space: nowrap;
    border: none;
    border-radius: 20px;
    padding: 10px 14px;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-secondary-bg-color);
  }

  &-section-item.active{
    color: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color);
  }

  &-content{
    padding-top: calc(var(--header-height ) * 2);
  }

  &-section{

  }

  &-section-title{
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: var(--tg-theme-section-bg-color);
    box-shadow: 0 0 16px 4px var(--tg-theme-bg-color) inset;
    border-radius: var(--br-main);
  }

  &-elements{
    display: grid;
    grid-template-columns: repeat(2, 1fr);//(auto-fit, minmax(220px, 1fr));
    grid-gap: var(--margin-main);
  }
}