.catalog{

  &-container{
  }

  &-content{
    //height: 100%;
    //overflow: auto;
    scroll-behavior: smooth;
  }


  &-section-title{
    margin: 0.5rem 0;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    //background-color: var(--tg-theme-section-bg-color);
    //box-shadow: 0 0 16px 4px var(--tg-theme-bg-color) inset;
    border-radius: var(--br-main);
  }

  &-elements{
  }

}

.catalog.hidden{
  position: absolute;
  opacity: 0;
  pointer-events: none;
}