.catalog{

  &-sections{
    height: 54px;
    display: flex;
    align-items: center;
    gap: 8px;
    overflow-x: scroll;
  }

  &-section-item{
    flex: none;
    white-space: nowrap;
    border: none;
    border-radius: 20px;
    padding: 10px 14px;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-secondary-bg-color);
  }

  &-section-item.active{
    color: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color);
  }

  &-section{

  }

  &-section-title{
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tg-theme-section-bg-color);
    font-size: 1.2rem;
  }

  &-elements{
    display: grid;
    grid-template-columns: repeat(2, 1fr);//(auto-fit, minmax(220px, 1fr));
    grid-gap: var(--margin-main);
  }
}