.sections{
  &-container{
    position: relative;
    //right: 0;
    //left: 0;
    width: 100%;
    //top: var(--header-height);
    background-color: var(--tg-theme-header-bg-color);
    overflow: hidden;
    z-index: 2;
  }

  &-list{
    position: relative;
    height: var(--header-height);
    display: flex;
    align-items: center;
    gap: 8px;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }

  &-item{
    flex: none;
    white-space: nowrap;
    padding: 8px 14px;
    color: var(--tg-theme-text-color);
    font-size: 0.875rem;
    background-color: inherit;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 0;
  }

  &-item.active{
    color: var(--tg-theme-button-text-color);
    border-bottom: 3px solid var(--tg-theme-button-text-color);
  }
}