.property{
  color: var(--tg-theme-text-color);
  font-size: 0.8rem;


  &-container{
    padding: 0.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //background-color: var(--tg-theme-section-bg-color);
    //border-radius: var(--br-main);
  }

  &-name{

  }

  &-value{

  }

}