.counter{

  &-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    font-size: 1rem;
    font-weight: 700;
  }

  &-input{
    padding: 0 4px;
    text-align: center;
    color: var(--tg-theme-text-color);
    font-weight: 700;
    background-color: var(--tg-theme-bg-color);
    border: none;
  }

  &-button{
    width: 32px;
    height: 32px;
    color: var(--tg-theme-text-color);
    font-size: inherit;
    font-weight: inherit;
    background-color: var(--tg-theme-bg-color);
    border: 1px solid var(--tg-theme-accent-text-color);
    border-radius: 4px;
    cursor: pointer;
  }
}