.companyForm{
  &-container{
    display: flex;
    flex-direction: column;
    //gap: 0.5rem;
  }

  & label{
    margin-top: 1rem;
    font-weight: 600;
  }

  &-input{
    border-radius: 0;
    border-color: transparent transparent  var(--bs-border-color) transparent;
  }

  &-btn{
    margin-top: 1rem;
  }
}