.productCard{
  &-container{
    height: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border: 2px solid var(--tgui--outline);
    border-radius: var(--br-main);
    background-color: var(--tgui--section_bg_color);
    box-shadow: var(--tgui--base--section--box_shadow);
  }

  &-image{
    flex: none;
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: var(--br-main);
    overflow: hidden;
  }

  &-buttons{
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 100;
  }

  &-icon{
    color: var(--tgui--text_color);

    &.active{
      color: var(--tgui--accent_text_color);
    }
  }

  &-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  &-title{
    align-self: center;
  }

  &-price{
    margin-top: auto;
    align-self: center;
  }
}

.productCard.horizontal{
  .productCard-container{
    flex-direction: row;
    justify-content: stretch;
    gap: var(--offset-main);
  }

  .productCard-image{
    width: 240px;
  }

  .productCard-price{
    align-self: flex-end;
    margin-top: auto;
  }

  .productCard-btn{
    align-self: flex-end;
  }
}