.itemDetails {
  &-container {
    //margin: var(--margin-main) var(--margin-main) 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @media(min-width: 760px){
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &-slider {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    aspect-ratio: 1/1;
    border-bottom-left-radius: var(--br-main);
    border-bottom-right-radius: var(--br-main);
    overflow: hidden;
    @media(min-width: 760px){
      width: auto;
      flex: 1 1;
      min-width: 360px;
      max-width: 40%;
      margin-left: auto;
    }
  }

  &-slide {
    aspect-ratio: 1/1;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-inner {
    //margin: 0 auto;
    @media (min-width: 760px) {
      margin-right: auto;
    }
  }


  &-tradeArea{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &-tradeArea-packs{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }



  &-title {
    //margin-top: 1rem;
  }

  &-tabContent{
    margin-bottom: 2rem;
    padding: 8px;
    border: 1px solid var(--bs-border-color);
    border-radius: 0 0 var(--br-main) var(--br-main);

  }

  &-section {
    margin-top: 0.5rem;
  }

  &-prop {
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 8px;
    &:not(:first-child){
      margin-top: .5rem;
    }
  }

  &-propName {
    flex: 2 1;
    font-size: 0.75rem;
  }

  &-propValue {
    flex: 1 1;
    font-weight: 600;
    font-size: 0.875rem;

  }

  &-separator {
    height: 8px;
    background-color: var(--tg-theme-section-separator-color);
  }

  &-subtitle {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
  }

  &-property {
    margin-top: 0.5rem;
  }

  &-property + &-property {
    margin-top: 4px;
  }

  &-balance {
    margin-top: 12px;
  }

  &-total {
    margin-top: 1rem;
    font-weight: 700;

    .balance-name {
      font-size: 1rem;
      font-weight: 700;
    }
  }

  &-related{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    gap: 1rem;

    &-item{
      flex: none;
      width: 150px;
    }
  }
}

@media(min-width: 768px) {
  .itemDetails{
    &-container{
      flex-direction: row;
      gap: var(--offset-main);
      flex-wrap: wrap;
    }
  }
}