.itemDetails{
  &-container{
    margin: 0 var(--margin-main);
  }

  &-slider{
    aspect-ratio: 1/1;
    border-radius: var(--br-main);
    overflow: hidden;
  }

  &-slide{
    aspect-ratio: 1/1;
  }
}