.profile{
  &-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &-image{
    position: relative;
    flex: none;
    align-self: center;
    width: 240px;
    aspect-ratio: 1/1;


  }
}