.productDetails{

  &-buttonContainer{
    position: fixed;
    top: 0;
    right: 0;
    opacity: 1;
    transform: translateY(-100%) rotate(-90deg);
    transform-origin: right bottom;
    transition: opacity .3s;
  }

  &-offcanvas.offcanvas{
    height: auto;
    max-height: 100%;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
  }

  &-container{
    overflow-x: scroll;
  }

  &-items{
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 1rem;
  }

  &-item{
    flex: none;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

}

