.productDetails{

  &-buttonContainer{
    position: fixed;
    top: 0;
    right: 0;
    opacity: 1;
    transform: translateY(-100%) rotate(-90deg);
    transform-origin: right bottom;
    transition: opacity .3s;
  }

  &-offcanvas{
    height: auto!important;
    max-height: 100%!important;
  }

  &-container{
    overflow-x: scroll;
  }

  &-items{
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 1rem;
  }

  &-item{
    flex: none;
    width: 160px;
  }

}

.productDetails.open {
  .productDetails-buttonContainer {
    opacity: 0.5;
    pointer-events: none;
  }
}
