.header{
  background-color: var(--tg-theme-header-bg-color);
  color: var(--tg-theme-text-color);

  &-container{
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: stretch;
  }

  &-inner{
    flex: 1 1;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--tg-theme-bg-color);
    border-radius: 20px;
    overflow: hidden;
  }

  &-search{
    flex: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  &-input{
    padding-left: 0;
    width: 100%;
    border: none;
  }
}