.footerMenu {
  &-container{
    padding: 0;
    //z-index: 1000;
  }


  &-item{
    padding: 12px 4px 12px;
    gap: 2px;
    span{
      text-overflow: unset;
    }
  }

  &-icon {
    width: 24px;
    height: 24px;
  }
}

