@import "reset.css";
@import "variables.css";
@import "custom.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: inherit;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-button{
  width: 8px;
  height: 8px;
  background-color: var(--tg-theme-bg-color);
}

*::-webkit-scrollbar-thumb{
  background-color: var(--bg-scroll);
  border-radius: 13px;
}

#root{
  height: 100vh;
}

.wrapper{
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.wrapper-header{
  flex: none;
}

.wrapper-content{
  flex: 1 1;
  overflow: scroll;
}

.wrapper-footer{
  float: none;
  margin-top: auto;
}

.bot-card-title{
  font-size: 1.125rem;
  font-weight: 600;
}

.bot-card-body{
  padding: 4px;
}

.icon-16{
  width: 16px;
  height: 16px;
}


.app-btn{
  color: var(--tg-theme-button-text-color);
  background-color: var(--tg-theme-button-color);
}

.link{
  color: var(--tg-theme-accent-text-color);
  text-decoration: underline;
  cursor: pointer;
}

.img-abs{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}