:root {
    --br-main: 8px;
    --br-section: calc(var(--br-main) * 3);
    --base-offset: 15px;
    --margin-main: var(--base-offset);
    --paddin-main: var(--base-offset);
    --header-height: 54px;


    --offset-main: var(--margin-main);

    --tg-color-scheme: ;
    --tg-viewport-height: 100vh;
    --tg-viewport-stable-height: 100vh;
    --tg-theme-bg-color: white;
    --tg-theme-text-color: #333;
    --tg-theme-hint-color: #777;
    --tg-theme-link-color: #124bb4;
    --tg-theme-button-color: #124bb4;
    --tg-theme-button-text-color: white;
    --tg-theme-secondary-bg-color: #eee;
    --tg-theme-header-bg-color: #777;
    --tg-theme-accent-text-color: #124bb4;
    --tg-theme-section-bg-color: #eee;
    --tg-theme-section-header-text-color: #777;
    --tg-theme-section-separator-color: var(--tg-theme-section-bg-color);
    --tg-theme-subtitle-text-color: #777;
    --tg-theme-destructive-text-color: #FF4B41;

    --bg-scroll: #aaa;


}
