:root{
    --br-main: 8px;

    --tg-color-scheme: ;
    --tg-viewport-height: 100vh;
    --tg-viewport-stable-height: 100vh;
    --tg-theme-bg-color: white;
    --tg-theme-text-color: #333;
    --tg-theme-hint-color: #777;
    --tg-theme-link-color: #2c77ff;
    --tg-theme-button-color: #2c77ff;
    --tg-theme-button-text-color: white;
    --tg-theme-secondary-bg-color: white;
    --tg-theme-header-bg-color: #777;
    --tg-theme-accent-text-color: #2c77ff;
    --tg-theme-section-bg-color: white;
    --tg-theme-section-header-text-color: #777;
    --tg-theme-section-separator-color: white;
    --tg-theme-subtitle-text-color: #777;
    --tg-theme-destructive-text-color: #FF4B41;

}
