.product {
  &-card {
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
    border-radius: var(--br-main);

    .card-img-top {
      width: 100%;
      aspect-ratio: 1/1;
    }
  }

  &-image {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--br-main);
    overflow: hidden;
  }


  &-card-body {
    flex: 1;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  &-card-subtitle {
    color: var(--tg-theme-text-color);
    word-break: break-all;
  }

  &-price {
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 700;
  }

  &-footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 4px;
  }

  &-btn {
    flex: 1 1;
    color: var(--tg-theme-button-text-color);
    fill: var(--tg-theme-button-text-color);
    font-size: 0.75rem;
    font-weight: 700;
    background-color: var(--tg-theme-button-color);
  }

  &-buttons {
    position: absolute;
    top: 6px;
    right: 6px;
    display: flex;
    gap: 4px;
    z-index: 1;
  }

  &-topBtn {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tg-theme-text-color);
    fill: var(--tg-theme-text-color);
    background-color: var(--tg-theme-secondary-bg-color);
  }

  &-topBtn.active {
    color: var(--tg-theme-accent-text-color);
    fill: var(--tg-theme-accent-text-color);
  }
}
