.addOrder{
  &-container{
    background-color: var(--tg-theme-bg-color);
    padding: var(--offset-main);
  }

  &-inner{
  }

  &-counter{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }

  &-button{
    color: var(--tg-theme-button-text-color);
    fill: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color);
  }

  &-input{
    flex: 1;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
    color: var(--tg-theme-text-color);
    border-color: var(--bs-border-color);
    background-color: var(--tg-theme-bg-color);
  }

  &-button-add{
    width: 100%;
  }

  &-remove{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    cursor: pointer;
  }

  &-icon{
  }
}