.orderItem {
  color: var(--tg-theme-text-color);

  &-container{
    display: flex;
    flex-direction: column;
  }

  &-inner {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    gap: 8px;
  }

  &-image {
    flex: none;
    display: inline-block;
    width: 100px;
    border-radius: var(--br-main);
  }

  &-title{
    -webkit-line-clamp: 2;
  }

  &-counter{
  }
}
